params {
    project_title        = "project"

    mask_data     = false

    no_mafft      = false
}

includeConfig "conf/containers.config"

profiles {
       local {
        // create default for publish_dir if not input
        includeConfig "conf/local.config"
        workDir = "${params.publish_dir}/${params.project_title}/work/"

        singularity {
            enabled = true
            cacheDir = "${HOME}/singularity/"
            autoMounts = true
        }

        process {
            publish_dir = "${params.publish_dir}/${params.project_title}/publish/"
        }
        includeConfig "conf/reporting.config"
    }

}

