process {
    withLabel: "pandas" {
        container = "quay.io/biocontainers/pandas:1.5.2"
    }

    withLabel: "mafft" {
        container = "quay.io/biocontainers/mafft:7.475--h516909a_0"
    }

    withLabel: "trimal" {
        container = "quay.io/biocontainers/trimal:1.4.1--h4ac6f70_8"
    }

    withLabel: "iqtree" {
        container = "quay.io/biocontainers/iqtree:2.2.2.7--h21ec9f0_2"
    }
    
}
